.logos {
    margin: 20px;
}

.plants {
    background-image: url("/images/background-plants-gradient.png"),
                      url("/images/background-plants-gradient-fill.png");
    background-repeat: no-repeat,
                       repeat-y;
    background-position: bottom,
                         top;
    background-size: 100%,
                     100%;
}