.mtfuji {
    background-image: url("/images/background-mt-fuji-gradient.png"),
                      url("/images/background-mt-fuji-gradient-fill.png");
    background-repeat: no-repeat,
                       repeat-y;
    background-position: bottom,
                         top;
    background-size: 100%,
                     100%;
}