<!doctype html>
<html>
    <head>
        <title>{{site}} - {{title}}</title>
    </head>
     <!-- stylesheets and modular css for a real app -->
    <style>
        code {
            white-space: pre;
        }
    </style>
    <body>
        <h1>{{title}}</h1>
        <code>
            {% for line in text %} 
                {{- line }}
            {% endfor %}
        </code>
    </body>
</html>