.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    background-color: white;
    margin: 10px;
    text-align: center;
    align-self: center;
    justify-content: center;
    height: 100px;
 
    &:hover {
        outline: 2px solid black;
    }

}