
.sakura_big {
    width: 140px;
    height: 86px;
    flex: none;
    margin-left: 25px;
    background-image: url('/images/sakura-big.png');
}
.sakura_banner {
    width: 100%;
    height: 86px;
    background-image: url('/images/sakura-banner.png');
}
