@import '../css/mixins';

.footer {
    @extend .border;
    display: flex;
    flex-direction: column;
    background-color: #999999;
    height: 10vh;
    border-width: 17px 0 17px 0;
    padding: 25px;
    margin-top: auto;
    
    .container {
        display: flex;
        flex: 1;
    }
}