@import '../css/mixins';

.header {
    display: flex;
    flex-direction: column;

    @extend .border;
    border-width: 17px 0px 17px 0px;
    
    .container {
        display: flex;
        min-height: 20vh;
        flex: 1;
    }

    .content {
        display: flex;
        flex: 2;
        min-width: 400px;
        max-height: 20vh;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: #aaaaaa;
        @extend .border;
        border-width: 0 17px 0 17px;
    }

    .hero {
        width: 100%; /* Play with this value */
        height: 100%;  /* Play with this value */
        font-size: 0;
        text-align: center;
    }
    
    .hero:before {
        content: "";
        width: 1px;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        margin-left: -1px;
    }
    
    .hero video {
        max-width: 100%;
        max-height: 100%;
        display: inline-block;
        vertical-align: middle;
    }

    .poster {
        padding: 0 10% 0 10%;
    }

    .panel {    
        flex: 1;
        background-image: url(/images/shoji-door-bw.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .title {
        position: absolute;
        color: #ffffff;
        text-align: center;
    }
}
