.logo {
    display: inline-block;
    border: solid 1px black;
    height: 102px;
    margin: 10px;
    width: 102px;
}

.Bitbucket {
    background: url("/images/logo-spritesheet.png") 0px -100px;
}

.Docker {
    background: url("/images/logo-spritesheet.png") 0px 0px;
}

.LinkedIn {
    background: url("/images/logo-spritesheet.png") -500px -100px;
}

.Mysql {
    background: url("/images/logo-spritesheet.png") -100px -100px;
}