.nav {
    flex: 1;
    order: -1;
    background-color: #cccccc;
    align-items: center;
    justify-content: center;
    max-width: 200px;
     

    a, a:hover, a:visited {
        font-size: 1.5em;
        color: #000000;
        display: block;
        margin-top: 5vh;
        text-align: center;
        text-transform: uppercase;
    }

}