 @import '../css/mixins';

.art {
    flex: 1;
    text-align: center;
    max-width: 200px;
    background-size: contain;
}

.propaganda1 {
    background-image: url("/images/propaganda1.png");
}

.propaganda2 {
    background-image: url("/images/propaganda2.png");
}

.propaganda3 {
    background-image: url("/images/propaganda3.png");
}

.propaganda4 {
    background-image: url("/images/propaganda4.png");
}


