body{
    background-color: #333333;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

h1 {
    font-size: 3em;
    line-height: 1em;
}

h2 {
    font-size: 2.0em;
    line-height: 1em;
}

li {
    list-style-type: circle;
}

.form-input {
    height: 4em;
}

.button {
        display: block;
        position: relative;
        width: 100%;
        padding: 10px 0 30px 0 ;
        border-width: 0 0 2px 0;
        border-style: solid;
        border-color: #000;
        overflow: hidden;
        text-decoration: none;
        font-size: 2em;
        outline: none;
        color: #000;
        background: transparent;
    }

    .button span {
        -webkit-transition: 0.6s;
        -moz-transition: 0.6s;
        -o-transition: 0.6s;
        transition: 0.6s;
        -webkit-transition-delay: 0.2s;
        -moz-transition-delay: 0.2s;
        -o-transition-delay: 0.2s;
        transition-delay: 0.2s;
    }

    .button:before,
    .button:after {
        content: '';
        position: absolute;
        top: 0.67em;
        left: 0;
        width: 100%;
        text-align: center;
        opacity: 0;
        -webkit-transition: .4s,opacity .6s;
        -moz-transition: .4s,opacity .6s;
        -o-transition: .4s,opacity .6s;
        transition: .4s,opacity .6s;
    }

    /* :before */

    .button:before {
        content: attr(data-hover);
        -webkit-transform: translate(-150%,0);
        -moz-transform: translate(-150%,0);
        -ms-transform: translate(-150%,0);
        -o-transform: translate(-150%,0);
        transform: translate(-150%,0);
    }

    /* :after */

    .button:after {
        content: attr(data-active);
        -webkit-transform: translate(150%,0);
        -moz-transform: translate(150%,0);
        -ms-transform: translate(150%,0);
        -o-transform: translate(150%,0);
        transform: translate(150%,0);
    }

    /* Span on :hover and :active */

    .button:hover span,
    .button:active span {
        opacity: 0;
        -webkit-transform: scale(0.3);
        -moz-transform: scale(0.3);
        -ms-transform: scale(0.3);
        -o-transform: scale(0.3);
        transform: scale(0.3);
    }

    /*  
        We show :before pseudo-element on :hover 
        and :after pseudo-element on :active 
    */

    .button:hover:before,
    .button:active:after {
        opacity: 1;
        -webkit-transform: translate(0,0);
        -moz-transform: translate(0,0);
        -ms-transform: translate(0,0);
        -o-transform: translate(0,0);
        transform: translate(0,0);
        -webkit-transition-delay: .4s;
        -moz-transition-delay: .4s;
        -o-transition-delay: .4s;
        transition-delay: .4s;
    }

    /* 
      We hide :before pseudo-element on :active
    */

    .button:active:before {
        -webkit-transform: translate(-150%,0);
        -moz-transform: translate(-150%,0);
        -ms-transform: translate(-150%,0);
        -o-transform: translate(-150%,0);
        transform: translate(-150%,0);
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s;
    }