.border {
    border-style: solid;
    border-width: 0 17px 0 17px;
    -moz-border-image: url(../../images/blackwood-frame.png) 17 17 17 16 repeat;
    -webkit-border-image: url(../../images/blackwood-frame.png) 17 17 17 16 repeat;
    -o-border-image: url(../../images/blackwood-frame.png) 17 17 17 16 repeat;
    border-image: url(../../images/blackwood-frame.png) 17 17 17 16 repeat;
}